.img-wrapper {  
    width: 500px;
    height: 200px;
    overflow: hidden; 
    cursor: pointer;
}
  
.inner-img {
    transition: 0.3s;
}
  
.inner-img:hover {
    transform: scale(1.1);
}

.img-wrapper {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #000;
}



